{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <h1>LISTA PACIENTES</h1>
    <a href="{% url 'app1:crear' %}"> Agregar Paciente</a>
    <br>
    <table border="1px">
        <tr>
            <th>RUN</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>EDAD</th>
            <th>DIRECCIÓN</th>
            <th>EMAIL</th>
            <th>TELÉFONO</th>
            <th>PATOLOGÍAS</th>
            <th></th>
            <th></th>
        </tr>
        {% for elemento in paciente %}
        <tr>
            <th>{{ elemento.run }}</th>
            <th>{{ elemento.nombre }}</th>
            <th>{{ elemento.apellido }}</th>
            <th>{{ elemento.fecha_nacimiento }}</th>
            <th>{{ elemento.edad }}</th>
            <th>{{ elemento.direccion }}</th>
            <th>{{ elemento.email }}</th>
            <th>{{ elemento.telefono }}</th>
            <th>{{ elemento.patologias }}</th>


            <th><a href="{% url 'app1:editar' pk=elemento.run %}">Editar</a></th>
            <th><a href="{% url 'app1:eliminar' pk=elemento.run %}">Eliminar</a></th>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
</html>